html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    color: hsl(243, 87%, 12%);
}

/* Navbar */
header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
}

.nav{
    display: flex;
    list-style-type: none;
    padding-left: 370px;
}

.nav li a{
    text-decoration: none;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.nav li{
    margin: 15px;
}

.logo{
    padding-top: 20px;
}

/*Features*/

.main{
    padding-top: 30px;
}

#Features{
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding-bottom: 150px;
}

.text{
    padding-top: 60px;
    text-align: left;
}

.text h1{
    font-size: 37px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.text p{
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.illustration1{
    height: 450px;
    width: 690px;
}

.input1{
    height: 30px;
    width: 275px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 20px;
}

.btn1{
    width: 175px;
    height: 35px;
    color: white;
    background: hsl(224, 93%, 58%);
    border-radius: 5px;
    border: none;
    margin: 10px;
}

.btn1:hover{
    cursor: pointer;
    background: hsl(224, 93%, 58%, 0.7);
}

/* Team */

.image{
    position: relative;
    top: 4px;
    width: 100%;
}

#Team{
    background: hsl(240, 75%, 98%);
    display: grid;
    grid-template-columns: 55% 45%;
    padding-bottom: 90px;
    padding-top: 20px;
}

.text1{
    text-align: left;
    padding-left: 50px;
}

.text1 h1{
    margin: 0;
    font-size: 37px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.text1 p{
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.btn{
    border: none;
    background: url(images/icon-arrow.svg) no-repeat;
    background-position: 145px;
    background-position-y: 1px;
    padding: 0;
    padding-right: 20px;
    padding-bottom: 3px;
    border-bottom: 2px solid hsl(170, 45%, 43%);
    color: hsl(170, 45%, 43%);
    margin-bottom: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.btn:hover{
    cursor: pointer;
    color: hsl(170, 45%, 43%, 0.5);
    border-bottom: 2px solid hsl(170, 45%, 43%, 0.5);
}

.card{
    height: 160px;
    width: 285px;
    background-color: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px 3px hsl(0, 0%, 75%, 0.15);
}

.card p{
    margin: 0;
    margin-bottom: 20px;
}

.testimonial{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.intro{
    display: flex;
}

.name{
    padding-left: 15px;
}

.name p, .name h6{
    margin: 0;
}

.name h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.name p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.illustration2{
    height: 450px;
    width: 555px;
}

/* Sign In */

#SignIn{
    background: hsl(238, 22%, 44%);
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 50px;
    padding-top: 90px;
}

.text2{
    text-align: left;
    color: white;
}

.text2 h3{
    margin: 0;
    font-size: 31px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.text2 p{
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.form{
    display: flex;
    flex-direction: column;
}

.input2{
    height: 35px;
    width: 450px;
    border-radius: 2px;
    border: none;
    padding-left: 20px;
}

.btn2{
    width: 175px;
    height: 35px;
    color: white;
    background: hsl(224, 93%, 58%);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

.btn2:hover{
    cursor: pointer;
    background: hsl(224, 93%, 58%, 0.7);
}

/* Footer */

footer{
    background: hsl(243, 87%, 12%);
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
}

i{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

i:hover{
    color: hsl(170, 45%, 43%);
}

.white-logo{
    margin-bottom: 20px;
    height: 49px;
    width: 166px;
}

.phone{
    margin-bottom: 15px;
}

span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.contacts{
    text-align: left;
}

.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 56px;
    padding-right: 45px;
}

.links ul{
    list-style: none;
}

.ul{
    padding-right: 30px;
}

.links a{
    text-decoration: none;
    color: white;
}

.links a:hover{
    color: hsl(224, 93%, 58%);
}

.links ul li{
    line-height: 2;
}

.social{
    padding-top: 78px;
    padding-right: 130px;
}

.social a{
    margin: 10px;
}